body {
    background-color: black;
}

.card-container {
    width: 75%;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}
.link-card{
    width:33%;
}

.card {
    border: 5px solid black;
    border-radius: 30px;
    height:100%;
}

.card-img {
    height: 30rem;
}

.card-img img {
    height: 100%;
    width: 100%;
}

.blur{
    filter:blur(18px);
}

.blur:hover{
    filter:brightness(0%);
}


@media screen and (min-width:740px)and (max-width:1500px) {
    .link-card{
        width:50%;
    }
    
    .card-container {
        width: 99%;
    }
}

@media screen and (max-width:740px) {
    .link-card{
        width:100%;
    }
    
    .card-container {
        width: 99%;
    }
}